body {
  color: white;
  justify-items: center;
  text-align: center;
  background-image: linear-gradient(black, white);
  background-image: url("img/IMAGE_DEPTH_EXTEND_MONO_SEAMLESS.png");
  background-size: contain;
  background-position: center;
}
h1 {
  color: pink;
}
span {
  color: D876DB;
}
