body {
  color: white;
  justify-items: center;
  text-align: center;
}
h1 {
  color: pink;
}
span {
  color: green;
  background-color: black;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 50%;               
  background-color: green;
  height: 4px;
}
