<!DOCTYPE html>
<html>
	<head>
  	<title>DIRECTORYNAME - Navori's website</title>
    <link rel="icon" type="image/x-icon" href="/syrthrow.ico">
    <meta name="description" content="Website containing Navori.">
	<link rel="stylesheet" href="/storydirCSS.css">
	<style>
    	body {
    	  background-color: black;
    	}
  	</style>
  </head>
  <body>
    <span><a href="/stories" style="color: inherit;">N:</a>\DIRECTORYNAME> dir</span>
    <h1>DIRECTORYNAME</h1>
    <h2>Stories/Works in category</h2>
	  <p>
		  <a href="/templates/TemplateStory">TemplateLink</a>
	  </p>
  </body>
</html>
