<!DOCTYPE html>
<html>
	<head>
  	<title>STORYNAME - Navori's website</title>
    <link rel="icon" type="image/x-icon" href="/syrthrow.ico">
    <meta name="description" content="Website containing Navori.">
	<link rel="stylesheet" href="/storyCSS.css">
	<style>
    	body {
    	  background-color: black;
    	}
  	</style>
  </head>
  <body>
    <span><a href="/stories" style="color: inherit;">N:</a>\<a href="/stories/DIRECTORYNAME" style="color: inherit;">DIRECTORYNAME</a>\STORYNAME></span>
    <h1>STORYNAME</h1>
    <h2>desc</h2>
	  <p>
		  text
	  </p>
  </body>
</html>
